@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');
/* adiciona a fonte CHAKRA PETCH para usar no site */

:root{
    --cor-de-fundo: #1E1E1E;
    --verde: #6FFF57;
    --branco: #FFFFFF;
    --botao-ativo: #3A375E;
    --botao-inativo: rgba(58, 55, 94, 0.5);
    --texto-fundo: rgba(58, 22, 94, 0.3);
}

/* cria variaveis para usar como cores no site */

body{
    background-color: var(--cor-de-fundo); /* Configura a cor  do plano de fundo*/
    color: var(--branco); /* configura a cor da letra */
    font-family: 'Chakra Petch', sans-serif; /* configura o tipo da letra */
    }


.conteudo-principal { /* configura a sessão  */
    display:flex; /* configura os elementos para aparecer lado a lado */
    flex-direction: column; /* dispõe os elementos em coluna */
    justify-content: center; /* justifica o conteúdo da sessão alinhando ao centro */
    align-items: center; /* alinha os itens ao centro */
    max-width: 1200px; /* define a largura máxima da página em 1200px */
    width: 100%; /* define a largura usada em 100% */
    margin: 0 auto; /* define as margens superior e inferior como "0" e direita e esquerda "automática */
}


.titulo-principal {
    text-align: left; /* alinha o texto à esquerda */
    width: 100%; /* determine que use 100% da largura disponível na tela */
    font-size: 32px; /* define o tamanho da fonte */
}

.titulo-principal span {
    color: var(--verde); /* define a cor do título principal */
}

.botao {
    font-family: 'Chakra Petch', sans-serif;
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top: none;
}

.botao:first-child {
    border-radius: 40px 40px 0 0;
}

.botoes {
    display: block;
}

.botao.ativo {
  background-color: var(--botao-ativo);
  border-bottom: 4px solid var(--verde);
  color: var(--verde);
  font-weight: bold; 
  
}

.abas-textos {
    background-color: var(--texto-fundo);
    padding: 40px;
    border-radius: 0 0 40px 40px;
}

.aba-conteudo.ativo {
  display: block;
}

.aba-conteudo {
  display: none;
}

.aba-conteudo-titulo-principal {
  font-size: 28px;
  text-align: center;
}
.aba-conteudo-titulo-secundario {
  text-align: center;
  color: var(--verde);
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .botoes{
        display: flex;
    }
    .botao:first-child {
    border-radius: 40px 0 0 0;
}
    .botao:last-child {
    border-radius: 0 40px 0 0;
}
}